* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

header nav ul li {
  font-size: 1.75rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.left {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
}

main section.left h1 {
  font-size: 4rem;
  color: #e0895B;
  padding: 1rem;
}

main section.left P {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.right img {
  border-radius: 50%;
  width: 23vw;
  height: 23vw;
  position: absolute;
  top: 45vh;
  right: 25vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2rem;
}

main section.table table {
  border-collapse: collapse;
  font-size: 1.5rem;
}

main section.table table tr {
  border-bottom: 2px solid gray;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main section.table table tr td {
  padding: 1rem;
}

main section.table table tr:hover {
  background-color: #ffd2b8;
}

main section.picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.picture img {
  width: 30vw;
}

main section.picture div.orangerect {
  width: 30vw;
  height: 80vh;
  background-color: #e0895B;
  position: absolute;
  top: 120px;
  left: 800px;
  z-index: -1;
}

section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.form form {
  min-height: 70vh;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.form form div {
  margin: 0.5rem;
}

section.form form div input, section.form form div textarea {
  background-color: #ecb392;
  color: #fffdfd;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 80%;
}

section.form form div textarea {
  vertical-align: top;
}

section.form form div label {
  font-size: 1.5rem;
}

section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  background-color: #e0895B;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

section.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin: 0.5rem;
}

section.contact h2 {
  font-size: 1.7rem;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 0.2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a {
  padding: 2rem;
}

.active {
  color: #e0895B;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3rem;
  }
  main section.right img {
    position: static;
    -webkit-transition: none;
    transition: none;
    width: 30vw;
    height: 30vw;
  }
  main section.picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.picture img {
    width: 80vw;
    padding: 1rem;
  }
  main section.picture div.orangerect {
    display: none;
  }
  section.left {
    margin: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */